@media screen and (min-width: 1280px) {
	div, .pets, .friends, .nav, footer { max-width: 1280px; }
}

@media screen and (max-width: 769px) {
	div, .pets, .friends, footer { max-width: 768px; }

	.nav {
		max-width: 710px;
	}

	.container {
		max-width: 708px;
	}
	
	.friends, .pets, footer {
		padding-left: 30px;
		padding-right: 30px;
		min-width: 708px;
	}
	
	.pets-cards {
		min-width: 580px;
		min-height: 1365px;
		max-width: 580px;
		max-height: 1365px;
	}
	
	footer {
		flex-wrap: wrap;
		justify-content: center;
	}
}
	
@media screen and (max-width: 321px) {
	div, header, .friends, .nav, footer { max-width: 320px; }
}
