@media screen and (min-width: 1280px) {
	div, .pets, .friends, .nav, footer { max-width: 1280px; }

	.burger { visibility: hidden; }
}

@media screen and (max-width: 1280px) {
	div, header, .main, .nav, footer { max-width: 100vw; }

	.img-not-only { 
		min-width: 698px;
		min-height: 728px;
	}

	.burger { visibility: hidden; }
	
}

@media screen and (max-width: 1279px) and (min-width: 769px) {

	.container-not-only {
		max-height: 985px;
		flex-direction: column;
	}

	.img-not-only {
		min-width: 45vw;
		min-height: 40vw;
		max-width: 60vw;
	}
}

@media screen and (max-width: 961px) and (min-width: 768px) {
	.footer {
		padding: 15px 30px 0;
		gap: 28px 60px;
	}
}

@media screen and (max-width: 769px) {
	div, header, .main, .nav, footer { max-width: 100vw; }

	.main { 
		padding: 0 30px;
	}

	.burger { visibility: hidden; }

	.container-not-only {
		max-height: 985px;
		flex-direction: column;
	}

	.content-not-only {
		margin: -48px 0 0 0;
		justify-content: center;
	}

	.make-friend { align-self: center; }

	.about {
		flex-direction: column-reverse;
		align-items: center;
		padding: 50px 40px 100px;
		gap: 55px;
	}

	.fr-container {
		gap: 10px;
	}

	.cards {
		gap: 40px;
		max-width: 76vw;
	}

	.help {
		padding: 64px 75px 100px 70px;
		gap: 40px;
	}

	.help-icons {
		    display: grid;
		    grid-template-columns: auto auto auto;
		    justify-content: center;
		    gap: 55px 75px;
		    align-content: center;
		    align-items: center;
		    justify-items: center;
	}

	.in-addition {
		flex-direction: column-reverse;
		padding: 61px 40px 100px;
		gap: 40px;
	}

	.img-not-only { 
		max-width: 74vw;
		min-width: 74vw;
		height: 60rem;
		min-height: 300px;
		margin-left: 140px;
	}

	footer {
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px 30px 0;
		gap: 28px 60px;
	}
	
}

@media screen and (max-width: 767px) and (min-width: 321px) {
	.nav { display: none; }

	.burger { visibility: visible; }

	.container-not-only {
		max-height: 985px;
	}

	.img-not-only { 
		max-width: 74vw;
		min-width: 74vw;
		height: 74vw;
		min-height: 74vw;
		margin-left: 80px;
	}
}
	
@media screen and (max-width: 321px) {
	div { max-width: 320px; }

	.nav { display: none; }

	.burger { visibility: visible; }

	.img-not-only {
		height: 74vw;
	}
}

