@media screen and (min-width: 1280px) {
	div, .pets, .friends, .nav, footer { max-width: 1280px; }
}

@media screen and (max-width: 769px) {
	div, .pets, .friends, footer { max-width: 768px; }

	.nav {
		max-width: 710px;
	}

	.container {
		max-width: 708px;
	}
	
	.friends, .pets, footer {
		padding-left: 30px;
		padding-right: 30px;
		min-width: 708px;
	}

	.friends { padding-bottom: 75px; }
	
	.pets-cards {
		min-width: 580px;
		min-height: 1365px;
		max-width: 580px;
		max-height: 1365px;
		margin-top: -30px;
		gap: 30px;
	}

	.pagination { margin-top: 0; }
	
	footer {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 15px 40px 0;
		gap: 28px 0;
	}
}
	
@media screen and (max-width: 321px) {
	div, header, .friends, .nav, footer { max-width: 320px; }

	.nav, .container {
		max-width: 300px;
	}

	.friends, .pets, footer {
		padding-left: 20px;
		padding-right: 20px;
		min-width: 300px;
	}
}
