html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
	cursor: pointer;
}



main {
	background-image: url("./assets/img/header-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #262425;
	padding: 0 40px;
	display: grid;
}

header {
	
}

.left-container {
	float: left;
}

.container {
	max-width: 1440px;
	margin: 0;
}

.container-logo {
	position: relative;
	top: -7px;
}

.container-elem-centered {
	max-width: 1440px;
	margin: 0 auto;
}

.container-not-only {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-not-only {
	min-width: 460px;
	height: 322px;
}

.heading-not-only {
	max-width: 310px;
}

.img-not-only {
	float: right;
	flex-shrink: 2;
}

.nav {
	
}

.nav-item {
	margin: 30px 0 30px 36px;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.h1-dark {
	font-family: Georgia;
	font-size: 32px;
	font-weight: 400;
	line-height: 35.2px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #F1CDB3;
}

.h1-dark:hover {
	color: #FDDCC4;
}

.logo-sub-dark {
	margin-block-start: -12px;
	margin-left: 4px;
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 14.95px;
	letter-spacing: 0.1em;
	text-align: left;
	color: #FFFFFF;
}

.h2-not-only {
	font-family: Georgia;
	font-size: 44px;
	font-weight: 400;
	line-height: 57.2px;
	text-align: left;
	color: #FFFFFF;
}

.p-not-only {
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #CDCDCD;

}

.nav-link {
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	border: 0;
	transition: color 0.2s;
	color: #CDCDCD;
}

.nav-link:hover {
	color: #FAFAFA;
}

.nav-link-active {
	position: relative;
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #FAFAFA;
}

.nav-link-active::after {
	content: '';
	position: absolute;
	top: 21px;
	left: 0;
	width: 114px;
	height: 3px;
	background-color: #F1CDB3;
}

.elem-right {
	float: right;
}



.h1-light {
	font-family: Georgia;
	font-size: 32px;
	font-weight: 400;
	line-height: 35.2px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #545454;
}

.h1-light:hover {
	color: #292929;
}

.logo-sub-light {
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 14.95px;
	letter-spacing: 0.1em;
	text-align: left;
	color: #292929;
}

.h2-light {
	font-family: Georgia;
	font-size: 44px;
	font-weight: 400;
	line-height: 57.2px;
	text-align: left;
	color: #545454;
}

.h3-light {
	font-family: Georgia;
	font-size: 35px;
	font-weight: 400;
	line-height: 45.5px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #545454;
}

.h4-light {
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #545454;
}

.h5-light {
	font-family: Georgia;
	font-size: 15px;
	font-weight: 400;
	line-height: 16.5px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #545454;
}

.p-large-light {
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #4C4C4C;
}

.p-small-light {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #B2B2B2;
}

.link-light {
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #545454;
}

.link-light:hover {
	color: #292929;
}

.link-light:active {
	color: #545454;
	border-bottom: 3px solid #F1CDB3;
}


.list-item {
	width: 4px;
	height: 4px;
	color: #F1CDB3;
}

.h5-modal-window {
	font-family: Georgia;
	font-size: 15px;
	font-weight: 400;
	line-height: 16.5px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #000000;
}



.btn {
	margin: 15px;
	font-family: Georgia;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.06em;
	text-align: center;
	color: #292929;
}

.button-primary {
	width: 207px;
	line-height: 52px;
	gap: 10px;
	border-radius: 100px;
	background: #F1CDB3;
}

.button-primary:hover {
	background: #FDDCC4;
}

.button-secondary {
	width: 207px;
	line-height: 52px;
	gap: 10px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
}

.button-secondary:hover {
	background: #FDDCC4;
}



.modal-close-button {
	width: 52px;
	line-height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3
}

.modal-close-button:hover {
	background: #FDDCC4;
}



.button-paginator {
	width: 52px;
	line-height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3
}

.button-paginator:active {
	background: #F1CDB3;
}

.button-paginator:inactive {
	border: 2px solid #CDCDCD
}



.cross {
	width: 12px;
	height: 12px;
	top: 20px;
	left: 20px;
	color: #292929;
}



footer {
	background-image: url("./assets/img/footer-bg.png");
	background-color: #262425;
}

.footer-h3 {
	font-family: Georgia;
	font-size: 35px;
	font-weight: 400;
	line-height: 45.5px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #FFFFFF;
}

.footer-link {
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #F1CDB3;
	transition: color 0.2s;
}

.footer-link:hover {
	color: #FDDCC4;
}

.footer-container {
	
}

